apiVersion: apps/v1
kind: Deployment
metadata:
  name: relayer
spec:
  selector:
    matchLabels:
      app: relayer
  replicas: 1
  template:
    metadata:
      labels:
        app: relayer
    spec:
      containers:
      - name: relayer
        image: fireeth
        args:
          - "start"
          - "-c"
          - "/config/config.yaml"
        ports:
          - name: grpc
            containerPort: 13011
            protocol: TCP
        volumeMounts:
          - name: config-volume
            mountPath: /config
      volumes:
        - name: config-volume
          configMap:
            name: relayer-config
